@tailwind base;
@tailwind components;

@font-face {
    font-family: 'playfair';
    src: url('./fonts/PlayfairDisplay-Italic.ttf');
}

@font-face {
    font-family: 'mont';
    src: url('./fonts/Montserrat-Italic.ttf');
}

@tailwind utilities;
